extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg= title
      form.form.form--login
        - if(url === 'signup')
          .form__group
            label.form__label(for='name') Your name
            input#name.form__input(type='text', required)
        
        - if(!url.startsWith('resetPassword'))    
          .form__group
            label.form__label(for='email') Email address
            input#email.form__input(type='email', placeholder='you@example.com', required)
        - if(url !== 'forgotpassword')
          .form__group.ma-bt-md
            label.form__label(for='password') Password
            input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        - if(url === 'signup' || url.startsWith('resetPassword'))
          .form__group
            label.form__label(for='passwordConfirm') Confirm password
            input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green= btn
        - if(url === 'login')
          a(href="/forgotpassword") I forgot my password 